body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #553055;
}

.App {
  background-color: #4c2a4c;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background-color: #6d3d6d;
}

.navbar h1 {
  margin: 10px 0;
}

.book-list {
  margin: 20px;
}

.book-list ul {
  padding: 0;
  list-style-type: none;
}

.book-list li {
  background: #6d3d6d;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  transition-duration: 0.2s;
}

.book-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}

.book-list .title {
  font-weight: bold;
  color: white;
  font-size: 1.2em;
}

.book-list .author {
  font-size: 0.9em;
  color: #ddd;
}

.empty {
  margin: 20px;
  text-align: center;
}

form {
  padding: 20px;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background-color: #3c1f3c;
  color: white;
  border: none;
}

button {
  z-index: 1;
  display: block;
  position: relative;
  margin: 10px auto;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #6d3d6d;
  cursor: pointer;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid #6d3d6d;
  transform-origin: center;
  transform: scale(1);
}

button:hover::before {
  transition: all 0.6s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}
